// Specific CSS for your home-page
.author-name {
  font-weight: bold;
}

.date {
  font-size: small;
}

#message_content {
  border-radius: 6px;
  margin-top: 2rem;
}

.message-container-current {
  background-color: #D1D2F9;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  border-radius: 6px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 20rem;
}

.message-container-other {
  background-color: #A3BCF9;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  border-radius: 6px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 20rem;
}

h1 {
  padding-top: 2rem;
  color: #576490;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

form {
  width: 100%;
  justify-content: right;
  align-items: center;
  display: flex;
}

#message_content {
  margin-top: 0;
}

.form-group {
  margin-bottom: 0;
  width: 100%;
}
